body{
  margin: 0;
  padding: 0;
  width: 100%;
}

main{
	width: 100%;
	margin: auto;
}

/*MAIN CONTENT*/

.main-section{
	display: flex;
	height: 220px;
	width: 100%;
	margin: 0;
}

.blockText--borderTop{
  border-top: 2px #515F67 solid;
}

.blockText{
	width: 100%;
/*display: flex;
	flex-direction: column;*/
	text-align: center;

}

.blockText-pourcentage{
  width: 85%;
  margin: auto;
}

.blockText--color{
/*  background-color: #E78E51;*/
  background: linear-gradient(to bottom right, #ffffcc 0%, #e78e51 100%);

}

.blockImg{
    background-color: #515F67;
  	width: 330px;
    border-top: 2px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blockImg-logo{
  width: 100px;
  height: 80px;
}


.blockImg--borderColor{

}

/*MAIN COMPONENT/ELEMENT*/

.blockText-title{
  text-transform: uppercase;
}

.blockText-text{

}
