* {
    font-family:Tahoma, sans-serif
}
.debug{
    border: 1px red solid;
}
.top {
    background-color: #515F67;
    padding-top: 37px;
    padding-bottom: 37px;
    text-align: right;
}

.form-control { /* TO DO txt orange */
    margin-right: 19px;
}

.logo {
    font-size: 40px;
    margin: 2em 0 2.5em 0;
    /*background-color: rgba(81, 95, 103, 0.5);*/
    /*background-color: #515F67;*/
    /*text-align: center;*/
}

.btn{
    font-size: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    /*text-align: center;*/
    color: white;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(81, 95, 103, 0.5);
}

.menu:last-child{
    padding-bottom: 1em;
}

.lg {
    /*background-color: rgba(81, 95, 103, 0.5);*/
    /*text-align:left;*/
    /*opacity:0.7;*/
    width: 25%;
    /*margin-right:1700px;*/
}

.btn:hover {
    width: 100%;
    background-color: #515F67;
    text-align: center;
    line-height: ;
}

.head-color {
    background: linear-gradient(to bottom right, #ffffcc 0%, #e78e51 100%);
}

.logo-bottom{
    color: white
    font-size:30px;
}

.end{
    display:flex;
    justify-content: space-between;
    background: linear-gradient(to bottom right, #ffffcc 0%, #e78e51 100%);
    vertical-align:middle;
}

.logo-bottom {
    padding-left: 0.94cm; /*PENSER A CONVERTIR*/
}

.end-btn {
    vertical-align:middle;
}

.client {
    text-align: center;
}

.h2.contact{
    background-color:##515F67
}
.contact {
    text-align: center;
}
/*
p {
    text-align: center;
    padding-right: 15cm;
    padding-left:15cm;
}*/
